<!DOCTYPE html>

<html lang="en">
  <%- include ('header') %>

  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>Dashboard</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/home/profile">View Profile</a>
    </p>
  </div>

  <%- include ('footer') %>
</html>
